* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1vw;
}

/* Pallet Collors */
:root {
  --nav-color: hsl(16.1, 89.1%, 53.1%);
  --body-or-title-color: hsl(0, 0%, 100%);
  --content-color: hsl(0, 9.5%, 81.4%);
  --title-color: hsl(39.1, 89.7%, 50.4%);
  --hover-use: hsl(0, 75.7%, 48.4%);
  --hover-sec: hsl(55.9, 96%, 48.4%);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font: 700 2.3vw "Roboto", sans-serif;
  color: var(--body-or-title-color);
  /* margin-top: 30vw; */
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  margin-bottom: 5vw;
}

/*==============================SECTION ABOUT==============*/
.container-about-principal {
  padding-top: 13vw;
  background-color: rgb(240, 218, 203);
}

.container-card-1 {
  display: flex;
  justify-content: initial;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  padding: 3vw 5vw;
}

.card-1 {
  width: 25vw;
  /* height: 12.5vw; */
  border-radius: 0.3vw;
}

.container-title-principal-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-principal-about {
  font: 700 2.3vw "Roboto", sans-serif;
  color: var(--nav-color);
  text-align: center;
  margin-bottom: 5vw;

  border-bottom: 0.3vw solid rgb(255, 153, 0);
  padding: 1vw 0.2vw;
}

.titile-about {
  font: 700 2vw "Roboto", sans-serif;
  color: var(--nav-color);
  width: 30vw;
  margin-bottom: 1vw;
}

.content-about {
  font: 400 1.3vw "Roboto", sans-serif;
  width: 30vw;
  color: #424242;
}

span.about-span {
  font: 400 1.3vw "Roboto", sans-serif;
  color: var(--nav-color)
}

.card-2 {
  width: 28vw;
  height: 31.7vw;

  /* height: 12.5vw; */
  border-radius: 0.3vw;
}

.container-principal-two-cards {
  /* padding: 5vw; */
  display: flex;
  flex-direction: row;
  justify-content: end;
  
  padding-right: 3vw;
}

.container-card-2 {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.container-card-3-principal {
  display: flex;
  flex-direction: row;
  gap: 3.7vw;
  padding: 3vw 5vw;
}

.card-3 {
  width:28vw;
  height: 19.7vw;

  /* height: 12.5vw; */
  border-radius: 0.3vw;
}

.content-about-equipe {
  font: 400 1.3vw "Roboto", sans-serif;
  width: 20vw;
  color: #424242;
}

/*==================================== RESPONSIVIDADE=============== */
@media (max-width: 768px) {

.container-about-principal {
  padding-top: 33vw;
  background-color: rgb(240, 218, 203);
  
}


.container-card-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 2vw; */
  /* padding: 3vw 3vw; */
}

.container-card-2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2vw;
}

.container-principal-two-cards {
  display: flex;
  justify-content: center;
}

.title-principal-about {
  font: 700 5.5vw "Roboto", sans-serif;
  color: var(--nav-color);
  text-align: center;
  margin-bottom: 5vw;

  border-bottom: 0.7vw solid rgb(255, 153, 0);
  padding: 1vw 0.2vw;
}

.titile-about {
  font: 700 3.5vw "Roboto", sans-serif;
  color: var(--nav-color);
  width: 70vw;
  margin-bottom: 1vw;
  text-align: center;
}

.content-about {
  font: 400 3vw "Roboto", sans-serif;
  width: 70vw;
  color: #424242;
  text-align: center;
}

span.about-span {
  font: 400 3vw "Roboto", sans-serif;

}

.card-1 {
  width: 90vw;
  padding: 3vw;

  /* height: 12.5vw; */
  border-radius: 0.3vw;
}
.card-2 {
  width: 90vw;
  padding: 3vw 3vw;


  height: 70vw;
  border-radius: 0.3vw;
}



.container-card-3-principal {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}

.content-about-equipe {
  font: 400 3vw "Roboto", sans-serif;
  width: 75vw;
  color: #424242;
  text-align: center;
}

.card-3 {
  width: 90vw;
  padding: 3vw;
  
  height: 70vw;
  border-radius: 0.3vw;
}

.container-img-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
}
